.chat-list {
    width: 40%;
    overflow: auto;
    padding: 20px;
}

a {
    color: inherit;
    text-decoration: none;
}

.chats__list {
    display: flex; 
    flex-direction: column-reverse;
    width: 100%;
}

.w-100 {
    width: 100%;
}
